#container {
    margin-top: 70px;
    display: flex;
    width: 80%;
    margin-left:20%;
    justify-content: center;
    min-height: 100vh;
    
}

.activites {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    width: 85%;
}

.activite {
    background-color: rgba(19, 18, 18);
    color: #bcb6ae;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 5px 4px 10px 1px rgba(3, 3, 3, 0.897);
}

.imageContainer{
    width: 100%;
    height: 300px;
    margin-bottom:40px;
}

.imageContainer img{
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.row {
    font-size:18px;
    font-weight: bold;
    margin-bottom:20px;
}

.row span.title{
	margin-right:10px;
}
/*
.row span.description{
	font-size:14px;
}
*/
.result {
	background-color: rgba(19, 18, 18);
    color: #bcb6ae;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
	height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 120px;
    border-radius: 10px;
    box-shadow: 5px 4px 10px 1px rgba(3, 3, 3, 0.897);
}


.participer-submit{
	height: 50px;
    width: 120px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #bcb6ae;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
    background-color: rgb(194, 162, 121);
    
}

.participer-submit:hover{
    background-color: rgb(240, 176, 92,0.2);
}
