@charset "ISO-8859-1";


  .myLineChart
{
	 position: relative;
	 top: 100px;
     left: 300px;
     background-color: rgba(40, 38, 34, 0.95);
     border-radius: 15px;
  }
  
  
.myBarChart
{
	 position: relative;
	 top: 120px;
     left: 690px;
     
  }
  
  .myPieChart
{
	 position: absolute;
	 top: 375px;
     left: 80px;
  }
  
.charts
{
	 background-color: rgba(40, 38, 34, 0.95);
     border-radius: 15px;
	 top: 120px;
     left: 690px;
	
}

