<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>gestionParascolaire</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/jstlLib.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
  <servlet>
  
  
  <servlet-name>presentation</servlet-name>
  	<servlet-class>servlets.PresentationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>presentation</servlet-name>
  	<url-pattern>/presentation</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>respoClub</servlet-name>
  	<servlet-class>servlets.respoClub</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>respoClub</servlet-name>
  	<url-pattern>/respo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SupprimerClub</servlet-name>
  	<servlet-class>servlets.SupprimerClub</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SupprimerClub</servlet-name>
  	<url-pattern>/suppClub</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GestionPresentationServlet</servlet-name>
  	<servlet-class>servlets.GestionPresentationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GestionPresentationServlet</servlet-name>
  	<url-pattern>/ajouterPresentation</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>