form{
    height:50%;
    width: 40%;
    margin: 10px auto;
    background: linear-gradient(112deg, rgba(60, 58, 58, 0.7) 80%,rgb(226, 159, 71) 15%);
    box-shadow: 5px 4px 10px 1px rgb(9, 0, 0);
    display: flex;
    border: none;
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: transform 1.5s ease-in-out;
    position: absolute;
   	top: 25%;
    left: 31%;
}

form div{

    font-size: 25px;
    font-weight: bolder;
    color:rgb(240, 176, 92);
}
fieldset{
    height: 40%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: none;

}
fieldset input{
    width: 100%;
    height: 60px;
    border: none;
    background-color:transparent;
    border-bottom: solid rgb(240, 176, 92) 2px;
    padding: 12px;
    outline: none;
    color: rgb(240, 176, 92);
    font-size: 18px;
}
fieldset input:focus {
    border-bottom:  solid white 3px ;
}

fieldset input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color: rgb(240, 176, 92);
}

fieldset input:focus::placeholder {
    color: transparent;
}

fieldset span{
	color:red;
	font-size:12px;
}

button{
    width: 150px;
    height: 60px;
    background-color: rgb(226, 159, 71);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(223, 217, 217,0.6);
}

form.sticky{
    position: fixed; 
    transform: translateX(1300px); 
   
}
.blur{
    filter: blur(15px);
    pointer-events: none;

}

.close{
	
    display: flex;
    justify-content: flex-end;
    color:rgb(226, 159, 71);
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    top: 8px;
    right:30px;
    cursor: pointer;
}


input {
  -webkit-background-clip: text !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(240, 176, 92);
}
