
.container{
    width: 78%;
    margin: 100px auto;
    display: block;
    background-color:rgba(3, 3, 3, 0.96) ;
    border: solid rgba(192, 124, 34, 0.6) 1px;
    box-shadow: 5px 4px 10px 1px rgba(3, 3, 3, 0.897);
    transition: filter 1s ease-in-out;
    overflow: hidden;
}


.image-ensa{  
    width:100%;
    height: 400px;
    margin-bottom: 70px;
}

.features {
    background-position: center;    
    width: 95%;
    margin: auto;
    padding:20px;
    background-color: rgba(40, 38, 34, 0.58);
    border-radius: 15px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    border: solid rgba(197, 175, 146, 0.23) 1px;
	box-shadow: 5px 3px 13px 2px rgba(163, 126, 77, 0.45);

}

.features figure{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 66px;
}

.features figure a {
	height: 0;
}

.features figure img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: black 0 0 10px;
    
}

.features figure img:hover{
    cursor: pointer;
    box-shadow: rgb(201, 155, 93 ) 0 0 15px;
}

.features figcaption{
    color:white; 
	margin-top: 160px;
}


.description{
	width: 65%;
    color: rgb(212, 210, 208);
    font-size: 16px;
    text-align: justify;
    margin-left: 8%;
    line-height: 1.5;
    padding: 20px;

}