
.container{
    width: 90%;
    margin: 100px auto;
    display: block;
    background-color:rgb(3, 3, 3) ;
    border: solid rgba(192, 124, 34, 0.6) 1px;
    box-shadow: 5px 4px 10px 1px rgba(3, 3, 3, 0.897);
    transition: filter 1s ease-in-out;
    overflow: hidden;
}


.image-ensa{  
    width:100%;
    height: 300px;
    margin-bottom: 20px;
}

.features {
    background-position: center;    
    width: 95%;
    margin: auto;
    height: 220px;
    background-color: rgba(40, 38, 34, 0.58);
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.features figure{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}

.features figure a {
	height: 0;
}

.features figure img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: black 0 0 10px;
    
}

.features figure img:hover{
    cursor: pointer;
    box-shadow: rgb(201, 155, 93 ) 0 0 10px;
}

.features figcaption{
    color:white; 
	margin-top: 160px;
}


.description{
    width: 80%;
    color: white;
    text-align: center;
    padding-left: 50px;
}