
#container{
    width: 78%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:rgb(3, 3, 3) ;
    border: solid rgba(192, 124, 34, 0.6) 1px;
    box-shadow: 5px 4px 10px 1px rgba(3, 3, 3, 0.897);
    transition: filter 1s ease-in-out;
    overflow: hidden;
    padding-bottom: 30px;
    

}

.image-ensa{  
    width:100%;
    height: 400px;
    margin-bottom: 20px;
}

.bloc {
    width: 90%;
    padding: 40px 50px;
  
    border: solid rgba(197, 175, 146, 0.23) 1px;
    box-shadow: 5px 3px 13px 2px rgba(163, 126, 77, 0.45);
    margin:40px auto;
    border-radius: 10px;
    background-color: rgba(40, 38, 34, 0.58);
}

.bloc-title {
  	color: rgb(226, 159, 71);
	padding-left: 40px;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: bold;
}

.bloc-text {
    font-size: 17px;
    color: #e0dcd5;
}

.bloc-text ul {
	padding-left: 4em;
}






