.container{
    width: 70%;
    margin: 100px auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:rgb(3, 3, 3) ;
    border: solid rgba(192, 124, 34, 0.6) 1px;
    box-shadow: 5px 4px 10px 1px rgba(3, 3, 3, 0.897);
    position: relative;
    transition: filter 1s ease-in-out;
    overflow: hidden;
}

.Slider-images{
    display: flex;
    width:500%;
    height: 700px;
    align-items: center;
    transition: transform 2s ease-in-out;
    cursor: pointer;
    margin-bottom: 30px;
      
}
/*
    In flex the sum of the width of child elements 
    of the container equal the width of the container.
    Here for example i gave the container the width 
    of 500% (means 5 time the width of his container)
    after that i gave every child a width of 100%
*/

img,.description,.wrapper{
    height:700px;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.description{
    position: absolute;
    background-color: rgba(58, 57, 57, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(176, 181, 181);
    transition: opacity 0.5s ease-in-out;

}

.description h1{
    font-size: 40px;
}

.description p{
    width: 70%;
    font-size: 16px;
}

.hideDescription{
    opacity:0;
    pointer-events: none;
}

.showDescription{
    opacity:1;
    pointer-events: all;
}

.readMore{
    position: relative;
    height: 80px;
    width: 150px;
    border-radius: 10px;
    bottom: 30px;
    background-color:rgb(176, 181, 181,0.8) ;
    color: rgb(28, 26, 26) ;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.readMore:hover{
    background-color:rgb(176, 181, 181,0.6);
}


#buttonLeft,#buttonRight{
	position: absolute;
	top: 331px;
    width: 43px;
    height: 43px;
    border-radius: 25px;
    background-color:rgb(12, 11, 8);
    color:rgb(226, 159, 71,0.8); 
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
}
#buttonLeft:hover,#buttonRight:hover{
    background-color: rgb(12, 11, 8,0.5);
    
}

#buttonRight{
    right: 30px;
}

#buttonLeft{
    left: 30px;
}

#circles{
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left:40%;
    top: 610px;
    
}
#circles div{
    width: 12px;
    height: 12px;
    border:solid  rgb(109, 106, 106) 1px;
    border-radius: 50%;
    background-color: rgb(109, 106, 106);
}


.ourApp{
    width: 80%;
    padding: 40px;
    text-align:center;
    color:rgb(176, 181, 181);
    border: solid rgba(192, 124, 34, 0.6) 1px;
    box-shadow: 8px 6px 11px 1px rgba(192, 124, 34, 0.6);
    margin:40px auto;
    border-radius: 10px;
    
}
.ourApp h1{
    margin-bottom: 40px;
}

.bloc {
    width: 90%;
    padding: 40px 50px;
    color: rgb(226, 159, 71);
    border: solid rgba(192, 124, 34, 0.6) 1px;
    box-shadow: 9px 9px 6px 2px rgba(192, 124, 34, 0.6);
    margin:40px auto;
    border-radius: 10px;
    background-color: rgba(40, 38, 34, 0.58);
}

.bloc-paragest {
	width: 100%;
    padding: 40px 50px;
    color: rgb(226, 159, 71);
    border-top: solid rgba(192, 124, 34, 0.6) 1px;
    border-bottom: solid rgba(192, 124, 34, 0.6) 1px;
    margin:40px auto;
    background-color: rgba(40, 38, 34, 0.58);
}


.bloc-text {
	font-size: 30px;
}

.bloc-text-paragest {
	font-size: 52px;
	font-weight: bold;
	letter-spacing: 8px;
	text-align: center;
}



/*************************************************************************************/
